body{
    background-color: skyblue;
}
.box-part{
    padding:50px 10px;
    background-color: white;
    margin:30px 10px;
}
.fa{
    color: greenyellow;
}
a{
    border-bottom:1px solid green;
}
p{
    font-size:13px ;
}
.box{
    padding: 60px 0px;
}
